@import "./map.scss";
@import "./fonts.scss";

body {
	margin: 0;
	padding: 0;
}

ui-page {
	display: flex;
	width: 100%;
	height: 100vh;

	ui-header {
		position: fixed;
		top: 1rem;
		left: 1rem;
		right: 1rem;
		z-index: 100;

		line-height: 1;

		font-size: 2rem;
		text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff; 
	}
}

ui-paragraph {
	display: block;
	margin-bottom: 1rem;
}

ui-button {
	display: block;
	padding: 1rem 2rem;
	
	border: 1px solid #000;
}

ui-field {
	display: flex;
	margin-bottom: 1rem;

	&:has(input[type=checkbox]) {
		flex-wrap: wrap;

		input {
			order: 1;

			width: 1rem;
			height: 1rem;
			margin: 0;
			padding: 0;
			margin-right: 1rem;
			position: relative;

			appearance: none;
			border: 1px solid #000;
			background: #fff;

			&:checked {
				background: #000;
			}

			&:checked::after {
				content: 'X';
				
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;

				color: #fff;
				line-height: 1;
				text-align: center;
			}
		}

		label {
			order: 2;

			margin-top: -0.125rem;
		}

		ui-hint {
			order: 3;

			margin-left: 2rem;
			width: 100%;
		}
	}

	&:not(:has(input[type=checkbox])) {
		flex-direction: column;

		label {
			margin-bottom: 0.25rem;
		}

		select, input:not([type=checkbox]) {
			padding: 0.5rem 1rem;

			appearance: none;
			color: inherit;
			background: #eee;
			border: 1px solid #000;
			border-radius: 0;
			font: inherit;
		}

		ui-hint {
			margin-top: 0.125rem;
		}
	}

	ui-hint {
		display: block;
		font-size: 0.8em;
	}
}

ui-map {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: block;

	ui-controls {
		position: absolute;
		top: 4rem;
		left: 1rem;
		z-index: 2000;

		display: flex;
		flex-direction: column;

		background: white;
		border: 1px solid black;
		border-bottom: none;

		ui-control {
			display: flex;
			position: relative;
			width: 3rem;
			height: 3rem;

			align-items: center;
			justify-content: center;

			font-size: 1.5rem;
			border-bottom: 1px solid black;
			cursor: pointer;
			user-select: none;
			color: #000;

			&:hover {
				background: #ddd;

				ui-control-extend {
					display: flex;
				}
			}

			&[ui-active] {
				background: #000;
				color: #fff;
			}

			ui-control-extend {
				display: none;
				flex-direction: row;
				margin-top: -1px;

				position: absolute;
				left: 100%;
				top: 0;

				background: #fff;
				border: 1px solid #000;
				border-left: none;

				ui-control {
					border: none;
					border-left: 1px solid black;
				}
			}
		}
	}

	ui-location-tracker {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 8;

		padding: 0.25rem 0.5rem;

		background: white;
		font-size: 0.75rem;

		&:empty {
			display: none;
		}
	}

	ui-panel {
		position: fixed;
		top: 4rem;
		right: 1rem;
		z-index: 10;

		width: 20rem;
		max-height: calc(100vh - 6rem);
		padding: 1.5rem;
		overflow-x: hidden;
		overflow-y: auto;

		cursor: default;
		background: white;
		border: 1px solid black;

		&:empty {
			display: none;
		}

		ui-panel-close {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.5rem;
			margin: 0 -0.5rem;

			float: right;
			width: 2rem;
			height: 2rem;

			font-size: 1.5rem;
			cursor: pointer;
		}

		ui-title {
			margin-bottom: 2rem;
		}
	}

	ui-map-inner {
		display: grid;
		width: 100%;
		height: 100%;
		position: relative;
		cursor: none;

		overflow: scroll;

		ui-map-image {
			--tile-zoomed-size: calc(var(--map-zoomed-size) / var(--world-size) * var(--tile-size));

			position: relative;

			grid-column: 1;
			grid-row: 1;

			width: var(--map-zoomed-size);
			height: var(--map-zoomed-size);

			background: linear-gradient(45deg, #ccc, #fff);
			background-repeat: repeat;
			background-size: var(--tile-zoomed-size) var(--tile-zoomed-size);

			canvas {
				position: absolute;
				left: calc(var(--tile-zoomed-size) * var(--x));
				top: calc(var(--tile-zoomed-size) * var(--y));

				width: vaR(--tile-zoomed-size);
				
				image-rendering: pixelated;
			}
		}

		ui-cursor {
			display: block;
			position: absolute;
			z-index: 2;

			width: var(--size);
			height: var(--size);

			background: black;
			pointer-events: none;

			box-shadow: 0 var(--size) 0 #0008, 0 calc(var(--size) * 2) 0 #0004,
						var(--size) 0 0 #0008, calc(var(--size) * 2) 0 0 #0004,
						0 calc(var(--size) * -1) 0 #0008, 0 calc(var(--size) * -2) 0 #0004,
						calc(var(--size) * -1) 0 0 #0008, calc(var(--size) * -2) 0 0 #0004;

			&::before,
			&::after {
				content: '';
				position: absolute;

				background: #0002;
			}

			&::before {
				top: 0;
				left: -100vw;

				height: var(--size);
				width: 200vw;
			}

			&::after {
				top: -100vh;
				left: 0;

				height: 200vh;
				width: var(--size);
			}
		}

		svg {
			grid-column: 1;
  			grid-row: 1;
			z-index: 1;

			width: 100%;
			height: 100%;

			background: #f400;

			&[ui-active] {
				path {
					fill: red;
				}
			}

			path {
				&:not([fill]) {
					stroke-linejoin: bevel;
				}
				
				&[ui-clickable]:hover {
					opacity: 0.7;
					cursor: pointer;
					
					stroke: black;
					stroke-width: 1;
				}
			}

			text {
				stroke-linecap: square;
				stroke-linejoin: bevel;
			}
		}
	}
}

ui-loading {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	ui-spinner {
		width: 2rem;
		height: 2rem;

		border: 0.125rem solid #eee;
		border-left-color: #000;
		border-radius: 50%;

		animation: 0.5s spin infinite linear;

		@keyframes spin {
			to { transform: rotate(360deg); }
		}
	}
}

ui-labeled-value {
	display: flex;
	margin-bottom: 0.5rem;

	ui-label {
		flex-grow: 1;
	}

	ui-value {
		flex-shrink: 0;

		font-weight: bold;
	}
}

ui-history {
	display: flex;
	flex-direction: row;
	margin: -1.5rem;
	overflow-x: auto;
	overflow-y: hidden;

	ui-history-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: 0.5rem 0.75rem;

		&[ui-active] {
			background: #000;
			color: #fff;
		}

		ui-date {
			display: block;

			font-size: 0.8em;
		}

		ui-time {
			display: block;
		}
	}
}

ui-properties {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-top: 4rem;
	margin-inline: 0.5rem;

	ui-property {
		display: block;
		width: calc(50% - 2rem);
		margin: 0.5rem;

		border: 1px solid #000;

		&[ui-incomplete] {
			outline: 3px solid #f00;
		}

		ui-map-preview {
			height: 6rem;
		}

		ui-property-tagline {
			display: flex;
			justify-content: space-between;
			margin: 0.25rem 1rem;

			font-size: 0.8rem;
		}

		ui-property-name {
			display: block;
			
			margin-inline: 1rem;
			margin-bottom: 0.25rem;

			ui-property-generic-name {
				font-style: italic;
			}
		}

		ui-property-bounds {
			display: flex;
			justify-content: space-between;
			margin-inline: 1rem;
			margin-bottom: 0.5rem;

			font-size: 0.8rem;
		}
	}
}

ui-page > ui-property {
	display: block;
	flex-grow: 1;
	padding: 1rem;

	ui-map-preview {
		margin: -1rem;
		margin-bottom: 1rem;

		width: calc(100% + 2rem);
		max-height: 15rem;
	}

	ui-section {
		display: block;
		margin-bottom: 1rem;
		padding: 1rem;

		background: #eee;

		> ui-title {
			display: block;
			margin-bottom: 1rem;

			font-weight: bold;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
}

ui-map-preview {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;

	background: linear-gradient(-45deg, #fff, #ccc);

	canvas {
		width: 100%;
		height: 100%;

		object-fit: cover;

		image-rendering: pixelated;
	}

	ui-map-expand {
		position: absolute;
		bottom: 0;
		right: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		width: 1.5rem;
		height: 1.5rem;

		background: #fff8;
	}
}

@media (max-width: 1000px) {
	ui-map {
		ui-panel {
			top: unset;
			left: 0;
			right: 0;
			bottom: 0;

			width: unset;
			height: unset;
			max-height: 40vh;

			border: none;
			border-top: 1px solid #000;
		}

		ui-controls {
			top: 3rem;
			left: 0;
			right: 0;

			flex-direction: row;
			flex-grow: 1;

			border: none;
			background: none;
			
			ui-control {
				padding: 0.5rem;
				width: 100%;
				height: unset;

				font-size: 1rem;
				border: none;

				&:not([ui-active]) {
					text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
				}

				ui-control-extend {
					flex-direction: column;

					left: 0;
					right: 0;
					top: 100%;

					ui-control {
						padding: 0.5rem;
						width: unset;

						text-shadow: none;
					}
				}
			}
		}
	}
}