@use "../node_modules/vllayout/main" with (
	$page-color: #000,
	$page-background: #fff,
	$page-border-color: #ccc,
	$page-hover-background: #ddd,

	$page-accent-background: #007afa,
	$page-accent-color: #fff,
	$page-accent-active-background: #007afa,
	$page-accent-active-color: #fff,
	$page-accent-hover-background: #466079,
	$page-accent-hover-color: #fff,

	$nav-background: #eee,
	$nav-color: #000,

	$page-dim-background: #eee,
	$page-dim-color: #000
);

ui-page {
	display: flex;
	width: 100%;
	height: 100vh;

	ui-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 50000;

		padding: 1rem;

		line-height: 1;
		font-weight: bold;

		background: #fff;
	}
}

ui-map {
	position: relative;

	display: block;
	width: 100%;
	height: 100%;

	&[ui-style='gray'] ui-map-inner canvas {
		filter: saturate(0) brightness(1.5) contrast(0.3);
	}

	&[ui-style='hidden'] ui-map-inner canvas {
		visibility: hidden;
	}

	ui-controls {
		position: absolute;
		top: 4rem;
		left: 1rem;
		z-index: 2000;

		display: flex;
		flex-direction: column;

		background: white;
		border: 1px solid black;
		border-bottom: none;

		ui-control {
			display: flex;
			position: relative;
			width: 3rem;
			height: 3rem;

			align-items: center;
			justify-content: center;

			font-size: 1.5rem;
			border-bottom: 1px solid black;
			cursor: pointer;
			user-select: none;
			color: #000;

			&:hover {
				background: #ddd;

				ui-control-extend {
					display: flex;
				}
			}

			&[ui-active] {
				background: #000;
				color: #fff;
			}

			ui-control-extend {
				display: none;
				flex-direction: row;
				margin-top: -1px;

				position: absolute;
				left: 100%;
				top: 0;

				background: #fff;
				border: 1px solid #000;
				border-left: none;

				ui-control {
					border: none;
					border-left: 1px solid black;
				}
			}
		}
	}

	ui-location-tracker {
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 50000;

		padding: 0.25rem 0.5rem;

		background: white;
		font-size: 0.75rem;
	}

	ui-panel {
		position: fixed;
		top: 4rem;
		right: 1rem;
		z-index: 10000;

		width: 20rem;
		max-height: calc(100vh - 6rem);
		padding: 0.5rem;
		overflow-x: hidden;
		overflow-y: auto;

		cursor: default;
		background: white;
		border: 1px solid black;

		&:empty {
			display: none;
		}

		ui-panel-close {
			display: flex;
			align-items: center;
			justify-content: center;

			float: right;
			width: 2rem;
			height: 2rem;

			font-size: 1.5rem;
			cursor: pointer;
		}
	}

	ui-map-inner {
		display: grid;
		width: 100%;
		height: 100%;
		position: relative;
		cursor: none;

		overflow: scroll;

		canvas {
			grid-column: 1;
  			grid-row: 1;

			image-rendering: pixelated;
		}

		ui-cursor {
			display: block;
			position: absolute;
			z-index: 1000;

			width: var(--size);
			height: var(--size);

			background: black;
			pointer-events: none;

			box-shadow: 0 var(--size) 0 #0008, 0 calc(var(--size) * 2) 0 #0004,
						var(--size) 0 0 #0008, calc(var(--size) * 2) 0 0 #0004,
						0 calc(var(--size) * -1) 0 #0008, 0 calc(var(--size) * -2) 0 #0004,
						calc(var(--size) * -1) 0 0 #0008, calc(var(--size) * -2) 0 0 #0004;

			&::before,
			&::after {
				content: '';
				position: absolute;

				background: #0002;
			}

			&::before {
				top: 0;
				left: -100vw;

				height: var(--size);
				width: 200vw;
			}

			&::after {
				top: -100vh;
				left: 0;

				height: 200vh;
				width: var(--size);
			}
		}

		svg {
			grid-column: 1;
  			grid-row: 1;
			z-index: 1;

			width: 100%;
			height: 100%;

			background: #f400;

			&[ui-active] {
				path {
					fill: red;
				}
			}

			&[ui-labels] {
				text {
					fill: #000;
					
					&[ui-hidden] {
						display: none;
					} 
				}
			}

			path {
				&:not([fill]) {
					stroke-linejoin: bevel;
				}
				
				&[ui-clickable]:hover {
					opacity: 0.7;
					
					stroke: black;
					stroke-width: 1;
				}
			}
		}
	}
}

ui-loading {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: 100%;

	ui-spinner {
		width: 2rem;
		height: 2rem;

		border: 0.125rem solid #eee;
		border-left-color: #000;
		border-radius: 50%;

		animation: 0.5s spin infinite linear;

		@keyframes spin {
			to { transform: rotate(360deg); }
		}
	}
}

ui-labeled-value {
	display: flex;
	margin-bottom: 0.5rem;

	ui-label {
		flex-grow: 1;
	}

	ui-value {
		flex-shrink: 0;

		font-weight: bold;
	}
}

ui-history {
	display: flex;
	flex-direction: row;
	margin: 1rem -0.5rem;
	overflow-x: auto;
	overflow-y: hidden;

	border: 1px solid black;
	border-left: none;
	border-right: none;

	ui-history-item {
		display: block;
		padding: 0.5rem 0.75rem;

		text-align: center;

		&[ui-active] {
			background: #f00;
		}

		ui-date {
			display: block;

			font-size: 0.8em;
		}

		ui-time {
			display: block;
		}
	}
}

@media (max-width: 1000px) {
	ui-map {
		ui-panel {
			top: unset;
			left: 0;
			right: 0;
			bottom: 0;

			width: unset;
			height: unset;
			max-height: 40vh;

			border: none;
			border-top: 1px solid #000;
		}

		ui-controls {
			top: 3rem;
			left: 0;
			right: 0;

			flex-direction: row;
			flex-grow: 1;

			border: none;
			background: #fff9;
			backdrop-filter: blur(20px) grayscale(1);
			-webkit-backdrop-filter: blur(20px) grayscale(1);
			
			ui-control {
				padding: 0.5rem 1rem;
				width: 100%;
				height: unset;

				font-size: 1rem;
				border: none;
			}
		}
	}
	
	ui-location-tracker {
		display: none;
	}
}